</main>
<footer class="bg-primary text-white text-center py-3">
    <p>&copy; 2024 Hiten Diwan. All rights reserved.</p>
    <p>Email: hitendiwan92@gmail.com</p>
</footer>


<!-- <footer>
    <p>&copy; 2024 Hiten Diwan. All rights reserved. <br>Email: hitendiwan92@gmail.com</p>
</footer> -->
</body>
</html>
