<%- include('partials/header') %>
<section id="home" class="text-center py-5" style="background: linear-gradient(135deg, #03256c, #58a4b0, #a690a4, #bd1e1e, #e6e1c5); color: white;">
    <div class="container">
        <h1>Welcome to My Portfolio</h1>
        <p class="lead">Explore my projects, get to know me, and feel free to get in touch!</p>
    </div>
</section>


<!-- <section id="home">
    <div class="container">
        <h1>Welcome to My Portfolio</h1>
        <p>Explore my projects, get to know me, and feel free to get in touch!</p>
    </div>
</section> -->
<%- include('partials/footer') %>
