<%- include('partials/header') %>
<section id="projects">
    <div class="container">
        <h2>Projects</h2>
        <ul>
            <li><strong>The WAN Project:</strong> onducted extensive research on WAN technologies and protocols (e.g., MPLS, VPN, Frame Relay) to determine the most suitable options for the project requirements. Created detailed network diagrams using tools like Cisco Packet Tracer and Visio to visualize the network architecture, including routers, switches, and communication links. Configured networking devices to establish connectivity between sites, ensuring optimal data flow and security measures were in place.</li>
            <li><strong>Web Development Project:</strong> Implemented testing procedures to validate network performance and reliability, using tools like Wireshark, ping, and traceroute to troubleshoot and optimize the network. Prepared comprehensive documentation outlining the network design, configuration steps, and testing results, which provided a valuable reference for future network implementations.</li>
        </ul>
    </div>
</section>
<%- include('partials/footer') %>
